<h2 mat-dialog-title>Confirm</h2>
<p>Enter name for the tenant</p>
<form>
<mat-form-field class="full-width">
  <input matInput type="text" [formControl]="tenantName">
</mat-form-field>
</form>
<mat-dialog-actions align="end">
  <button mat-button cdkFocusInitial (click)="close()">Cancel</button>
  <button mat-button [disabled]="!tenantName.valid" (click)="add()">Add</button>
</mat-dialog-actions>
