<h2 mat-dialog-title>Confirm</h2>
<p>Select User to continue?</p>
<form>
  <mat-form-field class="full-width">
    <mat-label>User</mat-label>
    <input required type="text" placeholder="User" aria-label="User" matInput [formControl]="user"
      [matAutocomplete]="autoUser">
    <mat-autocomplete #autoUser="matAutocomplete" [displayWith]="displayUser">
      <mat-option *ngFor="let option of (users | async)" [value]="option">
        {{option.email}} ({{option.uuid}})
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<mat-dialog-actions align="end">
  <button mat-button cdkFocusInitial (click)="close()">Cancel</button>
  <button mat-button [disabled]="!user.valid" (click)="add()">Add</button>
</mat-dialog-actions>