<form (ngSubmit)="onSubmit()">
  <div class="mat-subheading-2">
    {{ column | titleCaseFilter }}
  </div>

  <mat-form-field *ngIf="column === 'account'">
    <mat-label>Account</mat-label>
    <input
      type="text"
      placeholder="Select Account"
      matInput
      [formControl]="accountFormControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      [displayWith]="getAccountName"
    >
      <mat-option
        *ngFor="let option of filteredAccountList | async"
        [value]="option"
      >
        {{ option.accountNameEn }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field *ngIf="column === 'debit'">
    <input
      matInput
      type="number"
      name="debit"
      [formControl]="debitFormControl"
    />
  </mat-form-field>

  <mat-form-field *ngIf="column === 'credit'">
    <input
      matInput
      type="number"
      name="credit"
      [formControl]="creditFormControl"
    />
  </mat-form-field>

  <mat-form-field *ngIf="column === 'creditInAccountCurrency'">
    <input
      matInput
      type="number"
      name="creditInAccountCurrency"
      [formControl]="creditInAccountCurrencyFormControl"
    />
  </mat-form-field>

  <mat-form-field *ngIf="column === 'debitInAccountCurrency'">
    <input
      matInput
      type="number"
      name="debitInAccountCurrency"
      [formControl]="debitInAccountCurrencyFormControl"
    />
  </mat-form-field>

  <mat-form-field *ngIf="column === 'transactionLink'">
    <input
      matInput
      type="string"
      name="transactionLink"
      [formControl]="transactionLinkFormControl"
    />
  </mat-form-field>

  <mat-form-field *ngIf="column === 'remark'">
    <input
      matInput
      type="string"
      name="remark"
      [formControl]="remarkFormControl"
    />
  </mat-form-field>

  <div class="actions">
    <button mat-stroked-button type="button" (click)="onCancel()">
      CANCEL
    </button>
    <button mat-stroked-button color="accent" type="submit">SAVE</button>
  </div>
</form>
