<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>filter_list</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="column">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
        <mat-form-field class="full-width">
          <mat-label>UUID</mat-label>
          <input
            type="text"
            placeholder="UUID"
            aria-label="UUID"
            matInput
            [formControl]="uuid"
            (keyup.enter)="setFilter()"
            [matAutocomplete]="autoUUID"
          />
          <mat-autocomplete #autoUUID="matAutocomplete">
            <mat-option
              *ngFor="let option of (uuids | async)"
              [value]="option.uuid"
            >
              {{option.uuid}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Created By ID</mat-label>
          <input
            type="text"
            placeholder="Created By ID"
            aria-label="Created By ID"
            matInput
            [formControl]="createdById"
            (keyup.enter)="setFilter()"
            [matAutocomplete]="autoCreatedById"
          />
          <mat-autocomplete #autoCreatedById="matAutocomplete">
            <mat-option
              *ngFor="let option of (createdByIds | async)"
              [value]="option.createdById"
            >
              {{option.createdById}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
        <mat-form-field class="full-width">
          <mat-label>Created By Actor</mat-label>
          <input
            type="text"
            placeholder="Created By Actor"
            aria-label="Created By Actor"
            matInput
            [formControl]="createdByActor"
            (keyup.enter)="setFilter()"
            [matAutocomplete]="autoCreatedByActors"
          />
          <mat-autocomplete #autoCreatedByActors="matAutocomplete">
            <mat-option *ngFor="let actor of createdByActors" [value]="actor">
              {{actor}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Tenant Name</mat-label>
          <input
            type="text"
            placeholder="Tenant Name"
            aria-label="Tenant Name"
            matInput
            [formControl]="tenantName"
            (keyup.enter)="setFilter()"
            [matAutocomplete]="autoTenantNames"
          />
          <mat-autocomplete #autoTenantNames="matAutocomplete">
            <mat-option
              *ngFor="let tenant of tenantNames | async"
              [value]="tenant.tenantName"
            >
              {{tenant.tenantName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="end none">
        <button mat-button (click)="setFilter()">Apply</button>
        <button mat-button (click)="clearFilter()">Clear</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<button mat-mini-fab class="floating-button" (click)="confirmTenantCreation()">
  <mat-icon>add</mat-icon>
</button>
<app-data-list
  [endpoint]="endpoint"
  [linkCol]="linkCol"
  [linkPrefix]="linkPrefix"
  [fields]="fields"
  [filters]="filters"
>
</app-data-list>
