<table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef>
      <span (click)="treeControl.collapseAll()">Node</span>
    </th>
    <td mat-cell *matCellDef="let row; let data">
      <button
        mat-icon-button
        matTreeToggleNode
        [style.visibility]="data.expandable ? 'visible' : 'hidden'"
        [style.marginLeft.px]="data.level * 32"
        (click)="treeControl.toggle(data)"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(data) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Number">
    <th mat-header-cell *matHeaderCellDef>Number</th>
    <td mat-cell *matCellDef="let row">{{ row.accountNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let row">{{ row.accountName.en }}</td>
  </ng-container>

  <ng-container matColumnDef="Balance Type">
    <th mat-header-cell *matHeaderCellDef>Balance Type</th>
    <td mat-cell *matCellDef="let row">{{ row.balanceType }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
