<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>filter_list</mat-icon>
      </mat-panel-title>
      <mat-panel-description> Choose Accounting Entity </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="column">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
        <mat-form-field class="full-width">
          <mat-label>Accounting Entity</mat-label>
          <input
            type="text"
            placeholder="Accounting Entity"
            aria-label="Accounting Entity"
            matInput
            [formControl]="accountingEntity"
            (keyup.enter)="setFilter()"
            [matAutocomplete]="autoAccountingEntity"
          />
          <mat-autocomplete
            #autoAccountingEntity="matAutocomplete"
            [displayWith]="displayEntityName"
            (optionSelected)="setFilter()"
          >
            <mat-option
              *ngFor="let option of (accountingEntities | async)"
              [value]="option"
            >
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end none">
          <button mat-button (click)="setFilter()">Select</button>
          <button mat-button (click)="clearFilter()">Clear</button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div class="card-container" *ngIf="uuid">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Accounting Entity Details</mat-card-title>
      <mat-card-subtitle
        >{{ entityName }} est: {{ dateOfBirth }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
          <mat-form-field class="full-width">
            <input matInput placeholder="Abbreviation" formControlName="abbr" />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Base Currency"
              formControlName="baseCurrency"
            />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
          <mat-form-field class="full-width">
            <input matInput placeholder="Country" formControlName="country" />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Date of Birth"
              formControlName="dateOfBirth"
              [matDatepicker]="dateOfBirthPicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dateOfBirthPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dateOfBirthPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Entity Type"
              formControlName="entityType"
            />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name" />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
          <mat-form-field class="full-width">
            <input matInput placeholder="Tax ID" formControlName="taxId" />
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end end">
      <button mat-button color="warn" (click)="confirmPurge()">Delete</button>
      <button mat-button>Update</button>
      <button mat-button [matMenuTriggerFor]="menuShowAccounts">
        Show Accounts
      </button>
      <mat-menu #menuShowAccounts="matMenu">
        <button mat-menu-item [routerLink]="['/chart-accounts', uuid]">
          Tree
        </button>
        <button mat-menu-item [routerLink]="['/list', 'account', uuid]">
          List
        </button>
      </mat-menu>
    </mat-card-actions>
  </mat-card>
</div>

<div
  class="card-container align-center"
  *ngIf="!uuid"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <button
    mat-raised-button
    color="primary"
    (click)="openAddAccountingEntityDialog()"
  >
    Add Accounting Entity
  </button>
</div>
