<button
  mat-mini-fab
  class="floating-button"
  [disabled]="journalEntryForm.invalid"
  (click)="addJournalEntry()"
  *ngIf="calledFrom === 'add'"
>
  <mat-icon>add</mat-icon>
</button>
<mat-fab-menu
  *ngIf="calledFrom==='edit'"
  class="fab-menu"
  [fabButtons]="actionButtons"
  direction="bottom"
  (onFabMenuItemSelected)="selectedAction($event)"
>
</mat-fab-menu>
<form [formGroup]="journalEntryForm">
  <div class="card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title *ngIf="calledFrom === 'add'">
          Add Journal Entry
        </mat-card-title>
        <mat-card-title *ngIf="calledFrom === 'edit'">
          Update Journal Entry
        </mat-card-title>
        <mat-card-subtitle *ngIf="calledFrom === 'edit'">
          {{uuid}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
        <mat-form-field class="full-width">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            readonly
            [matDatepicker]="picker"
            formControlName="date"
            required
          />
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>

  <button
    mat-mini-fab
    class="floating-button"
    color="none"
    (click)="addAccount()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <div class="card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Accounts </mat-card-title>
      </mat-card-header>
      <mat-card-content class="table-container">
        <table mat-table #table [dataSource]="dataSource" class="full-width">
          <ng-container matColumnDef="account">
            <th mat-header-cell *matHeaderCellDef>Account</th>
            <td
              mat-cell
              *matCellDef="let row; let i = index"
              [satPopoverAnchor]="p"
              (click)="p.open()"
            >
              <ng-container *ngIf="row.account">
                {{ row.accountNameEn }}
              </ng-container>
              <span class="add-comment" *ngIf="!row.account">
                Add account
              </span>
              <sat-popover
                #p
                [hasBackdrop]="true"
                xAlign="start"
                yAlign="start"
                (closed)="UpdateField(row, i, $event)"
              >
                <journal-entry-inline-edit
                  [value]="row.account"
                  column="account"
                >
                </journal-entry-inline-edit>
              </sat-popover>
            </td>
          </ng-container>

          <ng-container matColumnDef="debit">
            <th mat-header-cell *matHeaderCellDef>Debit</th>
            <td
              mat-cell
              *matCellDef="let row; let i = index"
              [satPopoverAnchor]="p"
              (click)="p.open()"
            >
              <ng-container *ngIf="row.debit"> {{ row.debit }} </ng-container>
              <span class="add-comment" *ngIf="!row.debit"> 0 </span>
              <sat-popover
                #p
                [hasBackdrop]="true"
                xAlign="start"
                yAlign="start"
                (closed)="UpdateField(row, i, $event)"
              >
                <journal-entry-inline-edit [value]="row.debit" column="debit">
                </journal-entry-inline-edit>
              </sat-popover>
            </td>
          </ng-container>

          <ng-container matColumnDef="credit">
            <th mat-header-cell *matHeaderCellDef>Credit</th>
            <td
              mat-cell
              *matCellDef="let row; let i = index"
              [satPopoverAnchor]="p"
              (click)="p.open()"
            >
              <ng-container *ngIf="row.credit"> {{ row.credit }} </ng-container>
              <span class="add-comment" *ngIf="!row.credit"> 0 </span>
              <sat-popover
                #p
                [hasBackdrop]="true"
                xAlign="start"
                yAlign="start"
                (closed)="UpdateField(row, i, $event)"
              >
                <journal-entry-inline-edit [value]="row.credit" column="credit">
                </journal-entry-inline-edit>
              </sat-popover>
            </td>
          </ng-container>

          <ng-container matColumnDef="debitInAccountCurrency">
            <th mat-header-cell *matHeaderCellDef>Dr a/c currency</th>
            <td
              mat-cell
              *matCellDef="let row; let i = index"
              [satPopoverAnchor]="p"
              (click)="p.open()"
            >
              <ng-container *ngIf="row.debitInAccountCurrency">
                {{ row.debitInAccountCurrency }}
              </ng-container>
              <span class="add-comment" *ngIf="!row.debitInAccountCurrency">
                0
              </span>
              <sat-popover
                #p
                [hasBackdrop]="true"
                xAlign="start"
                yAlign="start"
                (closed)="UpdateField(row, i, $event)"
              >
                <journal-entry-inline-edit
                  [value]="row.debitInAccountCurrency"
                  column="debitInAccountCurrency"
                >
                </journal-entry-inline-edit>
              </sat-popover>
            </td>
          </ng-container>

          <ng-container matColumnDef="creditInAccountCurrency">
            <th mat-header-cell *matHeaderCellDef>Cr a/c currency</th>
            <td
              mat-cell
              *matCellDef="let row; let i = index"
              [satPopoverAnchor]="p"
              (click)="p.open()"
            >
              <ng-container *ngIf="row.creditInAccountCurrency">
                {{ row.creditInAccountCurrency }}
              </ng-container>
              <span class="add-comment" *ngIf="!row.creditInAccountCurrency">
                0
              </span>
              <sat-popover
                #p
                [hasBackdrop]="true"
                xAlign="start"
                yAlign="start"
                (closed)="UpdateField(row, i, $event)"
              >
                <journal-entry-inline-edit
                  [value]="row.creditInAccountCurrency"
                  column="creditInAccountCurrency"
                >
                </journal-entry-inline-edit>
              </sat-popover>
            </td>
          </ng-container>

          <ng-container matColumnDef="transactionLink">
            <th mat-header-cell *matHeaderCellDef>Transaction link</th>
            <td
              mat-cell
              *matCellDef="let row; let i = index"
              [satPopoverAnchor]="p"
              (click)="p.open()"
            >
              <ng-container *ngIf="row.transactionLink">
                {{ row.transactionLink }}
              </ng-container>
              <span class="add-comment" *ngIf="!row.transactionLink">
                Add transaction link
              </span>
              <sat-popover
                #p
                [hasBackdrop]="true"
                xAlign="start"
                yAlign="start"
                (closed)="UpdateField(row, i, $event)"
              >
                <journal-entry-inline-edit
                  [value]="row.transactionLink"
                  column="transactionLink"
                >
                </journal-entry-inline-edit>
              </sat-popover>
            </td>
          </ng-container>

          <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef>Remark</th>
            <td
              mat-cell
              *matCellDef="let row; let i = index"
              [satPopoverAnchor]="p"
              (click)="p.open()"
            >
              <ng-container *ngIf="row.remark"> {{ row.remark }} </ng-container>
              <span class="add-comment" *ngIf="!row.remark"> Add Remark </span>
              <sat-popover
                #p
                [hasBackdrop]="true"
                xAlign="start"
                yAlign="start"
                (closed)="UpdateField(row, i, $event)"
              >
                <journal-entry-inline-edit [value]="row.remark" column="remark">
                </journal-entry-inline-edit>
              </sat-popover>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row; let i = index">
              <button mat-icon-button (click)="deleteRow(i)">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</form>
