<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon> filter_list </mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="column">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
        <mat-form-field class="full-width">
          <mat-label>Account</mat-label>
          <input
            type="text"
            placeholder="Account"
            aria-label="Account"
            matInput
            [formControl]="account"
            [matAutocomplete]="autoAccount"
          />
          <mat-autocomplete
            autoActiveFirstOption
            #autoAccount="matAutocomplete"
            (optionSelected)="setFilter()"
            [displayWith]="getAccountOption"
          >
            <mat-option
              *ngFor="let account of accounts | async"
              [value]="account"
            >
              {{ account.accountNameEn }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label> Enter a date range </mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              readonly
              [formControl]="fromDate"
              placeholder="From date"
            />
            <input
              matEndDate
              readonly
              [formControl]="toDate"
              placeholder="To date"
              (dateChange)="setFilter()"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker
            #picker
            disabled="false"
          ></mat-date-range-picker>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="end none">
        <button mat-stroked-button (click)="clearFilter()">Clear</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Ledger Entry </mat-card-title>
    </mat-card-header>
    <mat-card-content class="table-container">
      <table
        mat-table
        #table
        matSort
        (matSortChange)="getUpdate()"
        [dataSource]="dataSource"
        class="full-width"
      >
        <ng-container matColumnDef="transaction-date">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="transaction-date"
          >
            Transaction Date
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            {{ row.transactionDate | date }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="account">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="account">
            Account
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            {{ row.accountNameEn }}
          </td>
          <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>

        <ng-container matColumnDef="debit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="debit">
            Debit
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            {{ row.debitAmount }}
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ debitTotal }}</td>
        </ng-container>

        <ng-container matColumnDef="credit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="credit">
            Credit
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            {{ row.creditAmount }}
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ creditTotal }}</td>
        </ng-container>

        <ng-container matColumnDef="ac-debit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="ac-debit">
            Dr a/c currency
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            {{ row.debitInAccountCurrency }}
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ acDebitTotal }}</td>
        </ng-container>

        <ng-container matColumnDef="ac-credit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="ac-credit">
            Cr a/c currency
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            {{ row.creditInAccountCurrency }}
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ acCreditTotal }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr
          mat-footer-row
          class="footer"
          *matFooterRowDef="displayedColumns"
        ></tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator
        #paginator
        class="mat-paginator-sticky"
        (page)="getUpdate($event)"
        [length]="dataSource.length"
        [pageSizeOptions]="[30, 50, 100, 500]"
      >
      </mat-paginator>
    </mat-card-actions>
  </mat-card>
</div>
