<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Trial Balance </mat-card-title>
    </mat-card-header>
    <mat-card-content class="table-container">
      <table mat-table #table [dataSource]="dataSource" class="full-width">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row; let i = index">
            {{ row.accountNameEn }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
