<h2 mat-dialog-title>Choose Tenant</h2>
<p>Select a tenant</p>
<form>
  <mat-form-field class="full-width">
    <mat-label>Tenant</mat-label>
    <input
      type="text"
      placeholder="Tenant"
      aria-label="Tenant"
      matInput
      [formControl]="tenant"
      [matAutocomplete]="autoTenant"
    />
    <mat-autocomplete
      #autoTenant="matAutocomplete"
      [displayWith]="displayTenantName"
    >
      <mat-option *ngFor="let tenant of tenants | async" [value]="tenant">
        {{ tenant.tenantName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<mat-dialog-actions align="end">
  <button mat-button cdkFocusInitial (click)="close()">Cancel</button>
  <button mat-button [disabled]="!tenant.valid" (click)="select()">
    Select
  </button>
</mat-dialog-actions>
